{% extends "layout.html" %}

{% block title %}Khách hàng{% endblock %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='style/customer.css')}}">
<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-body row title-chart">
            Báo cáo khác
        </div>
        <div class="chart-other">
                <div class="chart-tranferpot">
                    <img src="{{url_for('static' ,filename="images/pie.png")}}">
                </div>  
                <div class="chart-tranferpot">
                    <img src="{{url_for('static', filename="images/pie.png")}}">
                </div>  
                <div class="chart-tranferpot">
                    <img src="{{url_for('static', filename="images/pie.png")}}">
                </div>      
        </div>
        
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <form class="d-flex col-5" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
    </div>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>ID Customer</th>
                <th>Segment</th>
                <th>Country</th>
                <th>Quantity
                    <span class="icon">
                        <i class="fas fa-sort" name="desc"></i>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ customer.Name }}</td>
                <td>{{data}}</td>
                <td>{{ customer.Segment }}</td>
                <td>{{ customer.Country }}</td>
                <td>{{ customer.Quantity }}</td>
                <td>
                    <a href="/admin/products/edit/{{ customer._id }}" class="btn btn-warning btn-sm">Sửa</a>
                    <button class="btn btn-danger btn-sm ml-2" data-id="{{ customer._id }}" id="button-delete">Xoá</button>
                </td>
            </tr>
            {% endfor %}
                <!-- End of product row -->
            </tbody>
        </table>
    </div>
{%endblock%}