{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}
</body>
</html>

{% block content %}
<link href="{{ url_for('static', filename='style/dashboard.css') }}" rel="stylesheet">
<div class="container">
    <main class="dashboard">
        <section class="card">
            <h2>Tổng Quan</h2>
            <div class="kpi-container">
                <div class="kpi-item">
                    <div class="kpi-value">{{orderscount}}</div>
                    <div class="kpi-label">Đơn Hàng</div>
                </div>
                <div class="kpi-item">
                    <div class="kpi-value">{{totalsale}} USD</div>
                    <div class="kpi-label">Doanh Thu</div>
                </div>
                <div class="kpi-item">
                    <div class="kpi-value">{{countcustomer}}</div>
                    <div class="kpi-label">Khách Hàng</div>
                </div>
            </div>
            <img src="{{ url_for('static', filename='images/sales_year.png') }}" alt="Dashboard">
        </section>
        <section class="card">
            <h2>Sản Phẩm Bán Chạy</h2>
            <table>
                <thead>
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Doanh Thu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{listproducts[0][0]}}</td>
                        <td>{{listproducts[0][1]}}</td>
                        <td>${{listproducts[0][2]}}</td>
                    </tr>
                    <tr>
                        <td>{{listproducts[1][0]}}</td>
                        <td>{{listproducts[1][1]}}</td>
                        <td>${{listproducts[1][2]}}</td>
                    </tr>
                    <tr>
                        <td>{{listproducts[2][0]}}</td>
                        <td>{{listproducts[2][1]}}</td>
                        <td>${{listproducts[2][2]}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="card">
            <h2>Xu Hướng Bán Hàng</h2>
            <img src="{{ url_for('static', filename='images/sales.png') }}" alt="Dashboard">
        </section>
        <section class="card">
            <h2>Đơn Hàng Gần Đây</h2>
            <table>
                <thead>
                    <tr>
                        <th>Mã Đơn</th>
                        <th>Khách Hàng</th>
                        <th>Sản Phẩm</th>
                        <th>Tổng Tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{listrecent[0][0]}}</td>
                        <td>{{listrecent[0][1]}}</td>
                        <td>{{listrecent[0][2]}}</td>
                        <td>${{listrecent[0][3]}}</td>
                       
                    </tr>
                    <tr>
                        <td>{{listrecent[1][0]}}</td>
                        <td>{{listrecent[1][1]}}</td>
                        <td>{{listrecent[1][2]}}</td>
                        <td>${{listrecent[1][3]}}</td>
                    </tr>
                    <tr>
                        <td>{{listrecent[2][0]}}</td>
                        <td>{{listrecent[2][1]}}</td>
                        <td>{{listrecent[2][2]}}</td>
                        <td>${{listrecent[2][3]}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
{% endblock %}