{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}
</body>
</html>

{% block content %}
<link href="{{ url_for('static', filename='style/dashboard.css') }}" rel="stylesheet">
<div class="container">
    <main class="dashboard">
        <section class="card">
            <h2>Overview</h2>
            <div class="kpi-container">
                <div class="kpi-item">
                    <div class="kpi-value">{{orderscount}}</div>
                    <div class="kpi-label">Orders</div>
                </div>
                <div class="kpi-item">
                    <div class="kpi-value">{{totalsale}} USD</div>
                    <div class="kpi-label">Total Revenue</div>
                </div>
                <div class="kpi-item">
                    <div class="kpi-value">{{countcustomer}}</div>
                    <div class="kpi-label">Customers</div>
                </div>
            </div>
            <img src="{{ url_for('static', filename='images/sales_year.png') }}" alt="Dashboard">
        </section>
        <section class="card">
            <h2>Top Products</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in listproducts %}
                    <tr> 
                        <td>{{i["ProductName"]}}</td>
                        <td>{{i["Quantity"]}}</td>
                        <td>${{i["Revenue"]}}</td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </section>
        <section class="card">
            <h2>Sales Trend</h2>
            <img src="{{ url_for('static', filename='images/sales.png') }}" alt="Dashboard">
        </section>
    </section>
    <section class="card">
        <h2>Recent Orders</h2>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Customer Name</th>
                </tr>
            </thead>
            <tbody>
                    {% for i in listrecent %}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    </main>
</div>
{% endblock %}