{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='style/dashboard.css') }}" rel="stylesheet">
<div class="card mb-3">
   
    <div class="card-body">
        <div class="info-summary">
            <div class="quantity-Customer col-3 text-center">
            <h4 class="titleCustomer">CUSTOMERS</h4>
                <i><h4 class="quantityCustomer ">100</h4></i>
            </div> 

            <div class="quantity-Product col-3 text-center">
                <h4 class="titleProduct">PRODUCTS</h4>
                <i><h4 class="quantityProduct">100</h4></i>
            </div>
        </div>
    </div>

</div>
<div class="card mb-3">
    <div class="card-body row title-chart">
        Doanh thu bán hàng
    </div>
    <div class="card-body text-center">
      <img src="{{ image_url_plot }}" class="chart">
    </div>
</div>
<div class="card mb-3">
    <div class="card-body row title-chart">
        Báo cáo khác
    </div>
    <div class="chart-other">
            <div class="chart-tranferpot">
                <img src="{{image_url_pie}}">
            </div>  
            <div class="chart-tranferpot">
                <img src="{{image_url_pie}}">
            </div>  
            <div class="chart-tranferpot">
                <img src="{{image_url_pie}}">
            </div>      
    </div>
    
</div>
{% endblock %}