<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/layout.css') }}" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
</head>
<body>
  <aside class="sidebar">
    <div class="sidebar-logo">
        Sales Analytics
    </div>
    <ul class="sidebar-menu">
      <li><a href="/home"><i>🏠</i> Trang chủ</a></li>
      <li><a href="/order"><i>🛒</i> Đơn hàng</a></li>
      <li><a href="/customer"><i>👥</i> Khách hàng</a></li>
      <li><a href="/product"><i>📦</i> Sản phẩm</a></li>
      <li><a href="/create"><i>➕</i> Create</a></li>
    </ul>
    
  </aside>
  <main class="main-content">
      {% block content %}{% endblock %}
  </main>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script href="{{ url_for('static', filename='js/layout.js') }}" rel="stylesheet"></script>
</body>
</html>